html,
body {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
}
.appview {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay .authform {
  background-color: white;
  max-width: 50%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}
.overlay label {
  display: block;
  font-weight: bold;
}
.overlay input {
  display: block;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1.5em;
  border: 1px solid #bbbbbb;
}
.overlay .button-container {
  margin-top: 15px;
  text-align: center;
}
.overlay .button-container .auth-button {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}
header {
  height: 50px;
  background-color: #2814f6;
  color: #c6c0fd;
  display: flex;
  justify-content: space-between;
}
header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
header #logout {
  color: white;
  text-decoration: none;
  padding: 5px 5px;
  max-width: 40px;
}
header #remove {
  border: 1px solid transparent;
  background: transparent;
  max-width: 60px;
  opacity: 0;
}
header #remove img {
  max-width: 100%;
}
header #remove.show {
  opacity: 1;
}
.container {
  flex: 1 0 auto;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}
footer {
  height: 50px;
  background-color: #2814f6;
}
#task-form {
  display: flex;
  flex-direction: row;
}
#task-form #task-input {
  flex: 1 0 auto;
  padding: 10px;
}
#task-form .add-button {
  width: 50px;
  background-color: #0d046d;
  color: #c6c0fd;
  border: 1px solid transparent;
}
#task-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#task-list li {
  font-size: 22px;
  font-weight: 200;
  color: #5546f8;
  padding: 15px 10px;
  border-bottom: 1px solid #dcd9fe;
}
#task-list li[data-status='1'] {
  text-decoration: line-through;
}
@media only screen and (max-width: 768px) {
  .overlay .authform {
    max-width: 100%;
    min-width: 90%;
  }
  header h1 {
    font-size: 1em;
  }
  header #username {
    font-size: 1.2em;
    margin-left: 10px;
  }
}
